*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: calc( 100vh - 80px );
    background-color: black;
}
.contenitore {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center ;
    width: 90%;
    height: 85%;

}
.faccia {
    position:relative;
    width: 19%;
    height: 19%;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/71uql8CC6oL._AC_SX355_.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.nome {
    position:absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.33);
    color: white;

}
.freccia-s i,
.freccia-d i {
    font-size: 35px;
    color: gray;
}
p{
    color: white;
}
/* fine parte centrale */
/* footerr */

.sinistra {
    display: flex;
    align-items: center;
    width: 20%;
    height: 80px;

}
.destra {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 80px;
    color: red
}
nav {
    display: flex;
    justify-content: space-between;
    width: 50%;


}
footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(80, 80, 80)
}
.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}
.fine{
    background-color: gray;
    padding: 31px 0;
}
.relativo{
    position: relative;
}
.assoluto2{
    position: absolute;
    right: -10px;
    bottom: 20px;
}
.menu i{
    font-size: 30px;
}
.pad{
    padding-right: 35px;
}
/* fine footerr */

/* rifiniture */
#piccolo{
    font-size: 15px;
}
.assoluto1{
    position: absolute;
    right: 0px;
    bottom: 20px;}
.alto{
    width: 150px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0px;
    top: 10px;
    color: white;

}
.speak{
    background-color: gray;
    padding: 2px;
    border-radius: 10px;
}

.verde{
    border :3px solid greenyellow
}
#blu{
    color: blue;
}
#verde1{
    color: greenyellow;
}