*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: calc( 100vh - 80px );
    background-color: black;
}
.contenitore {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center ;
    width: 95%;
    height: 90%;

}
.faccia {
    position:relative;
    width: 19%;
    height: 19%;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/71uql8CC6oL._AC_SX355_.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.nome {
    position:absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.33);
    color: white;

}
.freccia-s i,
.freccia-d i {
    font-size: 35px;
    color: gray;
}
p{
    color: white;
}
/* fine parte centrale */
/* footerr */

.sinistra {
    width: 20%;
    height: 80px;
    background-color: violet;
}
.destra {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 80px;
    background-color: violet;
    color: red
}
nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 80px;
    background-color: tomato;

}
footer{
    display: flex;
    justify-content: space-around;
}
.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.fine{
    background-color: royalblue;
    padding: 31px 0;
}