*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc( 100vh - 80px );
    background-color: black;
}
.contenitore{
    width: 95%;
    height: 90%;
    
    background-color: coral;
}